.container {
    @apply
    pt-16
    flex
    items-center
    justify-center
    h-screen
    w-[95vw]
    relative
    z-0    
}

.sectionGrids {
    @apply
    grid 
    grid-cols-1 
    gap-1
    z-10
    h-[85%]
    lg:grid-cols-2
    lg:gap-3
    turned:grid-cols-2
    turned:gap-3
}

.section {
	@apply
    w-[40vh]
    float-left
    relative
    flex
    basis-6
    flex-grow
    justify-center
    items-center
    backface-visibility-hidden
    overflow-hidden
    lg:w-[36vw]
    turned:w-[36vw]
    hover:cursor-pointer
}

.h2 {
    @apply
    text-white
    text-[calc(1.5vw+2vh)]/[calc(2vw+2vh)]    
    font-thin
    lg:text-[calc(1.4vw+1.4vh)]/[calc(2vw+0.6vh)]
}

.h3 {
    @apply
    text-white
    text-[calc(0.6vw+1.5vh)]/[calc(1vw+0.9vh)]
    mt-3
    mb-2
    font-thin
    lg:text-[calc(0.8vw+0.8vh)]/[calc(1vw+0.08vh)]
    lg:mt-4
    lg:mb-2
    turned:text-[calc(1.3vw+1.3vh)]/[calc(2vw+0.6vh)]
}

.p, .a {
    @apply
    text-[calc(0.49vw+1.2vh)]  
    font-thin
    lg:text-[calc(0.6vw+0.6vh)]
    turned:text-[calc(1.2vw+1.2vh)]/[calc(2vw+0.6vh)]
}

.p {
    @apply
    leading-tight
    text-white
    text-justify
    lg:leading-4
}

.a {
    @apply
    text-cyan-600
    hover:underline
}

.img {
    @apply
    w-1/2
    align-middle
    absolute
    left-1/2
    top-1/2
    transform
    -translate-x-1/2
    -translate-y-1/2
    
}

.frontTile, .backTile {
    @apply
    w-[90%]
	h-full
    p-4
    bg-black
	absolute
    border-solid
    border-[3px]
	backface-visibility-hidden
    transform-style-preserve-3d
    transition-transform
    duration-700
    ease-in-out
    border-black
    shadow
    shadow-gray-500
    z-30
    lg:p-6
    hover:border-cyan-600 
    hover:shadow-cyan-500
}

.backTile {
	@apply
    text-left
    scrollbar-thin scrollbar-thumb-cyan-600 scrollbar-track-black overflow-y-scroll
}

.blobs_1, .blobs_2, .blobs_3, .blobs_4, .blobs_5, .blobs_6, .blobs_7 {
    @apply
    block
    absolute
    mix-blend-color
    rounded-for-blobs-1
    animate-blobs
    z-10
}

.blobs_1 {
    @apply
    bg-[#ff1493]
    animation-delay-1000
    w-[45px]
    h-[45px]
    bottom-[12vh]
    right-[35vw]
    lg:w-[60px]
    lg:h-[60px]
    lg:bottom-[19vh]
    lg:right-[25vw]
}

.blobs_2 {
    @apply
    bg-[#ff4500]
    animation-delay-2000
    w-[60px]
    h-[60px]
    bottom-[11vh]
    right-[10vw]
    lg:w-[80px]
    lg:h-[80px]
    lg:bottom-[18vh]
    lg:right-[12vw]
}

.blobs_3 {
    @apply
    bg-[#00ff00]
    animation-delay-3000
	w-[37.5px]
    h-[37.5px]
    bottom-[27vh]
	right-[4vw]
    lg:w-[50px]
    lg:h-[50px]
    lg:bottom-[40vh]
	lg:right-[8vw]
}

.blobs_4 {
    @apply
    bg-[#ff0000]
    animation-delay-4000
	w-[75px]
	h-[75px]
    top-[18vh]
    left-[10vw]
    lg:w-[100px]
    lg:h-[100px]
    lg:top-[22vh]
    lg:left-[11vw]
}

.blobs_5 {
    @apply
    bg-[#ffff00]
	w-[30px]
	h-[30px]
	top-[52%]
	left-[49%]
    lg:w-[40px]
	lg:h-[40px]
}

.blobs_6 {
    @apply
    bg-[#00ffff]
    animation-delay-1000
	w-[45px]
	h-[45px]
    top-[18vh]
    left-[35vw]
    lg:w-[60px]
	lg:h-[60px]
	lg:top-[25vh]
	lg:left-[28vw]
}

.blobs_7 {
    @apply
    bg-[#ff8c00]
    animation-delay-2000
	w-[30px]
	h-[30px]
    top-[33vh]
	left-[4vw]
    lg:w-[40px]
	lg:h-[40px]
	lg:top-[48vh]
	lg:left-[9vw]
}