.footerMain {
    @apply
    w-fit
    fixed 
    bottom-0 
    right-0 
    z-10
    mb-2
    mr-2
}

.footerContainer {
    @apply
    flex
    items-center
    px-4 
    mx-auto 
    lg:max-w-7xl
}

.linkedin, .github, .codewars, .hackerrank {
    @apply
    mx-2
    bg-cover
    w-9
    h-9
    hover:cursor-pointer
}

.linkedin {
    @apply
    bg-[url('/img/linkedin.svg')]
    hover:bg-[url('/img/linkedin-blue.svg')]
}

.github {
    @apply
    bg-[url('/img/github.svg')]
    hover:bg-[url('/img/github-blue.svg')]
}

.codewars {
    @apply
    bg-[url('/img/codewars.svg')]
    hover:bg-[url('/img/codewars-blue.svg')]
}

.hackerrank {
    @apply
    bg-[url('/img/hackerrank.svg')]
    hover:bg-[url('/img/hackerrank-blue.svg')]
}